.yellow-bg {
  background-color: #fff599 !important;
}

.pink-bg {
  background-color: #ffced7 !important;
}

.green-bg {
  background-color: #dcf9da !important;
}

.brown-bg {
  background-color: #ffebcf !important;
}

.dui-a {
  color: #585858;
}
